# LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.glo
*.log
*.nav
*.out
*.run.xml
*.snm
*.toc

**/gitignore/

# Figures
**/figures/IMG*

figures/torino/indicators/historical/reference/field/*
!figures/torino/indicators/historical/reference/field/EC-Earth3_heat_wave_max_length
figures/torino/indicators/historical/reference/field/EC-Earth3_heat_wave_max_length/*
!figures/torino/indicators/historical/reference/field/EC-Earth3_heat_wave_max_length/1.pdf

figures/torino/indicators/ssp126/*/field/

figures/torino/indicators/ssp245/*/field/
figures/torino/indicators/ssp245/spatial_bias/*
!figures/torino/indicators/ssp245/spatial_bias/EC-Earth3_heat_wave_max_length
figures/torino/indicators/ssp245/spatial_bias/EC-Earth3_heat_wave_max_length/*
!figures/torino/indicators/ssp245/spatial_bias/EC-Earth3_heat_wave_max_length/1.pdf

figures/torino/indicators/ssp370/*/field/

# Licensed material
titlepage/LogoUniToConvertito.png
titlepage/tahoma.ttf
titlepage/tahomabd.ttf
